<template>
    <div>
        {{posts}}
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data() {
            return {
                posts: [],
                errors: []
            }
            },

        created(){
            axios.get(`http://jsonplaceholder.typicode.com/posts`)
                .then(response => {
                    // JSON responses are automatically parsed.
                    this.posts = response.data
                })
                .catch(e => {
                    this.errors.push(e)
                })
        }
    }
</script>

<style scoped>

</style>