<template>
    <div>
    <form @submit.prevent="validateBeforeSubmit" >

        <div class="form-group">
            <legend :class="{ 'error': errors.has('civilite') }">Civilité</legend>
            <p class="control">
                <label class="radio">
                    <input name="civilite" v-validate="'required'" value="MLLE" type="radio">
                    Mlle
                </label>
                <label class="radio">
                    <input name="civilite" value="MME" type="radio">
                    MME
                </label>
                <label class="radio">
                    <input name="civilite" value="Mr" type="radio">
                    MR
                </label>
            </p>
            <span class="help is-danger" v-show="errors.has('civilite')">{{ errors.first('civilite') }}</span>
        </div>


        <div class="form-group" :class="{'input': true, 'has-error': errors.has('nom') }">
            <label class="label">Nom</label>
            <p class="control has-icon has-icon-right">
                <input class="form-control" name="nom" v-model="nom" v-validate="'required'"  type="text" placeholder="Nom">
                <i v-show="errors.has('nom')" class="fa fa-warning"></i>
                <span v-show="errors.has('nom')" class="help has-error">{{ errors.first('nom') }}</span>
            </p>
        </div>

        <div class="form-group">
            <label class="label">Prénom</label>
            <p class="control has-icon has-icon-right">
                <input class="form-control" name="prenom" v-model="prenom" v-validate="'required'" :class="{'input': true, 'has-error': errors.has('prenom') }" type="text" placeholder="Prénom">
                <i v-show="errors.has('prenom')" class="fa fa-warning"></i>
                <span v-show="errors.has('prenom')" class="help has-error">{{ errors.first('prenom') }}</span>
            </p>
        </div>

        <div class="form-group">
            <label class="label">Email</label>
            <p class="control has-icon has-icon-right">
                <input class="form-control" name="email" v-model="email" v-validate="'required|email'" :class="{'input': true, 'has-error': errors.has('email') }" type="text" placeholder="Email">
                <i v-show="errors.has('email')" class="fa fa-warning"></i>
                <span v-show="errors.has('email')" class="help has-error">{{ errors.first('email') }}</span>
            </p>
        </div>
        <div class="column is-12">
            <p class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </p>
        </div>
    </form>
    </div>
</template>

<script>
    import francais from 'vee-validate/dist/locale/fr'

    export default {
        name: 'form-form',
        data: () => ({
            civilite: '',
            nom: '',
            prenom: '',
            email: '',
            locale: 'fr',
        }),
        methods: {


            validateBeforeSubmit() {
                this.$validator.localize('fr', {
                    messages: francais.messages,
                    attributes: {
                        civilite: 'Civilité',
                        nom: 'Nom',
                        prenom: 'Prénom',
                        email: 'E-Mail',
                        locale: 'fr',
                    }
                });
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        console.log('ok from validation')
                        this.$router.push('/Succes')
                    }

                });
            }
        }
    };
</script>
