<template>
    <div>
        <div class="column is-12">
            <label class="label"> (Email)</label>
            <p class="control has-icon has-icon-left">
                <input name="email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }" type="text" placeholder="Email">
                <i v-show="errors.has('email')" class="fa fa-warning"></i>
                <span v-show="errors.has('email')" class="help is-danger has-text-right">{{ errors.first('email') }}</span>
            </p>
        </div>
        <div class="column is-12">
            <label class="label">(Telephone)</label>
            <p class="control has-icon has-icon-left">
                <input name="phone" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('phone') }" type="text" placeholder="Phone">
                <i v-show="errors.has('phone')" class="fa fa-warning"></i>
                <span v-show="errors.has('phone')" class="help is-danger has-text-right">{{ errors.first('phone') }}</span>
            </p>
        </div>

    </div>
</template>

<script>
    import francais from 'vee-validate/dist/locale/fr';

    export default {
        name: 'SimpleForm',
        data: () => ({
            email: '',
            phone: '',
            locale: 'fr',
        }),
        computed: {
            nextLocale() {
                return this.locale === 'fr' ? 'Francais' : 'English';
            }
        },
        methods: {
            changeLocale() {
                this.locale = this.$validator.locale === 'fr' ? 'fr' : 'fr';
                this.$validator.localize(this.locale);
            }
        },
        watch: {
            $route () {
                // make sure we revert to english if the user navigated away.
                this.$validator.localize('fr');
            }
        },
        created() {
            this.$validator.localize('fr', {
                messages: francais.messages,
                attributes: {
                    email: 'email',
                    phone: 'telephone'
                }
            });

            // start with english locale.
            this.$validator.localize('fr');
        }
    };
</script>
