<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Success
                    </div>

                    <div class="panel-body">
                        <router-link tag="li" to="/">
                            <a>Tasks</a>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return {}
        },
        mounted()
        {

        },
        methods: {}
    }
</script>